<div style="background-color:green; color: white; height: 63px; margin-top: -20px; margin-left: -10px; margin-right: -10px;">
	<div style="margin-left: 200px; padding-top: 5px;">
		<h1>Scoutbook</h1>
	</div>
</div>
<div style="text-align: center; margin-top: 100px; margin: auto; padding-top: 100px;">
	<div style="padding: 10px 40px; margin: auto; background-color: #dddddd; border-radius: 25px; 
	height: 250px; width: 600px;">
	<div ng-hide="errorPassword || passwordSent">
		<h2>Odzyskiwanie hasła</h2><br>
		
		Podaj nowe hasło:<br>
		<form name="changePasswordForm">
		<input type="password" ng-model="password1" class="form-control" required/><br>
		Ponownie podaj hasło:<br>
		<input type="password" ng-model="password2" class="form-control" required/><br>
		<button type="submit" ng-click="sendPassword()" ng-disabled="changePasswordForm.$invalid"
		style="background-color: #4CAF50; border: none; color: white; padding: 15px 32px; text-align: center;
			text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; border-radius: 10px;">
			Wyślij
		</button>
		</form>
	</div>
	<div ng-show="differentPassword" class="alert alert-danger">Wpisane hasła są różne.</div>
	<div ng-show="responseErrors.hourPassed" class="alert alert-danger">
		Minęła godzina, odkąd dostałeś email z możliwością zmiany hasła. Trzeba było wyrobić się.
	</div>
	<div ng-show="responseErrors.password" class="alert alert-danger">
		Wystąpił błąd. Hasło było puste.
	</div>
	<div ng-show="responseErrors.code" class="alert alert-danger">
		Wystąpił błąd. Hasło zostało zmienione albo nie skopiował(eś/aś) pełnego linku wysłanego na maila.
	</div>
	<div ng-show="passwordSent" class="alert alert-success">Hasło zostało zmienione. Możesz zalogować się. 
		<a ui-sref="start">Scoutbook</a>	
	</div>
	</div>	
</div>