<div class="col-md-3 well">
	<span class="alert alert-danger" ng-if="conversationUsersError">{{conversationUsersError}}</span>
	<div class="form-inline">
		<label>Szukaj:</label>
		<input type="text" ng-model="search" class="form-control">
	</div>
	<div class="messengerUsers">
		<div ng-repeat="user in conversationUsers | filter:search" class="" 
			 ng-class="{'unread': user.unread, 'well': !user.unread}" ng-click="setConversation(user)">
			<span>{{user.firstname}} {{user.lastname}}</span> 
			<img src="{{user.profileImage}}" class="pull-right img-responsive proposalFriendImage"/>
		</div>
	</div>
</div>
<div class="col-md-6">
	<h2>
		Rozmowa z: <a ui-sref="home.profile.main({profileId: dialogueUser.id})" ng-if="dialogueUser.id != 0">
			{{dialogueUser.firstname}} {{dialogueUser.lastname}}
		</a>
		<span ng-if="dialogueUser.id == 0">
			{{dialogueUser.firstname}} {{dialogueUser.lastname}} 
		</span>
		<button class="btn btn-sm btn-successs" ng-click="loadOlderMessages()" ng-if="dialogueUser.id != 0">
			Załaduj starsze wiadomości
		</button>
	</h2>
	<div class="conversation">
		<div ng-repeat="message in dialogueUser.conversationMessages"
			 ng-class="{'dialogueFriend': dialogueUser.id == message.user, 'dialogueMe': dialogueUser.id != message.user }">
			<!-- <span ng-if="dialogueUser.id == message.user">{{dialogueUser.firstname}}:</span>-->
			<img src="{{dialogueUser.profileImage}}" ng-if="dialogueUser.id == message.user"
				class="img-responsive img-circle proposalFriendImage"/>
			<span>{{message.message}}</span>
		</div>
	</div>
	<div class="messageContent">
		<form name="messengerForm">
			<input type="text" ng-model="message" class="form-control input-lg messengerInput">
			<button type="submit" class="btn btn-lg btn-success pull-right" ng-click="sendMessage()">
				Wyślij
			</button>		
		</form>
	</div>
</div>
<div class="col-md-3">
	<div class="infoMessenger">
		<a href="#" class="btn btn-info btn-lg">
        	<span class="glyphicon glyphicon-wrench"></span>
        </a>
		Czasami aby odświeżyć czat,należy kliknąć w osobę po lewej stronie czatu.<br>
		Po wysłaniu wiadomości do Generatora, generator odpowiada zasadami programowania.
	</div>
</div>
<img src="loading.gif" class="loading"/>