	<div id="registerNav">
		<div>
			<h1>Scoutbook</h1>
		</div>
		<div class="form-group">
			<label>Email:</label>
			<input type="text" ng-model="credentials.email" class="form-control">
			<label>Hasło:</label>
			<input type="password" ng-model="credentials.password" class="form-control">
			<button ng-click="login()" class="btn btn-success">Zaloguj</button>
			<a ui-sref="admin">Admin</a>
		</div>	
	</div>
	<div class="clearer"></div>
	<div id="registerMain">
		<div class="left">
			<img id="registerLogo" src="http://scouts.org.uk/images/scouts-logo-fleur-wide.png" />
		</div>	
		<div class="left">
			<div>Utwórz nowe konto!</div>
			<div>		
		        <input class="form-control" required/>
		        <input class="form-control" required/>		        
			</div>
			<div>		
		        <input class="form-control" required/>		        
			</div>
			<div>		
		        <input class="form-control" required/>		        
			</div>
			<div>
				<input type="button" value="Wyślij"/>
			</div>
		</div>
	</div>
	<div class="clearer"></div>