<div class="col-md-3">
	<div ng-if="infoProfile">{{infoProfile}}</div>
	<div ng-if="infoGroups">{{infoGroups}}</div>
	<div ng-if="infoEvents">{{infoEvents}}</div>
	<div ng-if="proposalFriendsError">{{proposalFriendsError}}</div>
	<div ng-if="birthdayFriendsError">{{birthdayFriendsError}}</div>
	Grupy:<br><br>
	<div ng-repeat="groupData in groupsData">
		 <span class="alert alert-success">
			<span class="glyphicon glyphicon-user"></span>
			<a ui-sref="home.group({groupId: groupData.id})">{{groupData.name}}</a>	
		</span><br><br><br>
	</div>
	Wydarzenia:<br><br>
	<div ng-repeat="eventData in eventsData">
		<span class="alert alert-success">
			<span class="glyphicon glyphicon-time"></span>
			<a ui-sref="home.event({eventId: eventData.id})">{{eventData.name}}</a>
		</span><br><br><br>
	</div>
	Utwórz:<br>
	<button class="btn btn-success btn-md" ng-click="openNewGroup()">Grupę </button>
	<button class="btn btn-success btn-md" ng-click="openNewEvent()">Wydarzenie </button>
</div>
<div class="col-md-6">
	<div class="well">
		<form name="newPost">
			<span class="alert alert-info">Utwórz post</span>
			<button type="submit" class="pull-right btn btn-success" 
				ng-disabled="newPost.$invalid" ng-click="sendNewPost()">
				Opublikuj
			</button><br>
			<textarea rows="4" cols="50" required ng-model="newPostText" class="form-control"></textarea><br>
		</form>
	</div>
	 <span style="margin-top:100px;" ng-if="userWall.length == 0" class="alert alert-danger">Brak postów do wyświetlenia</span><br>
	 <span ng-if="userWallError" class="alert alert-danger">{{userWallError}}</span><br>
	<div class="well" ng-repeat="post in posts">
    	 Autor: <a ui-sref="home.profile.main({profileId: post.owner_id})">{{post.owner.firstname}} {{post.owner.lastname}}</a>
		 <button type="button" class="btn btn-success pull-right">Data <span class="badge">{{post.created_at}}</span></button> 
		 <span ng-if="postsErrors[$index]" class="alert alert-danger">{{postsErrors[$index]}}</span><br>
		 <span ng-if="ownersErrors[$index]" class="alert alert-danger">{{ownersErrors[$index]}}</span><br>
		{{post.content}}
	</div>
	 <div class="pull-right btn-group">
    	<a ng-if="selectedPage != 0" ng-click="previousPage()" class="btn btn-success">Poprzednie posty</a>
    	<a ng-if="posts.length != 0" ng-click="nextPage()" class="btn btn-success">Następne posty</a>
	</div>		
</div>
<div class="col-md-3">
	<div class="addMember well">
	Dzisiaj urodziny mają:<br>
		<div ng-repeat="friend in birthdayFriends" class="well">
			<img src="{{friend.profileImage}}" class="img-responsive" style="height:35px; display:inline"/>
			<a class="pull-right" ui-sref="home.profile.main({profileId: friend.id})">
				{{friend.firstname}} {{friend.lastname}}
			</a>
		</div>
	</div>
	<div class="addMember well">
		Propozycje znajomych:<br>
		<div ng-repeat="friend in proposalFriends" class="well">
			<img src="{{friend.profileImage}}" class="img-responsive" style="height:35px; display:inline"/>
			<button ng-if="!friend.addFriendSent" 
				class="btn btn-md btn-success pull-right" ng-click="addFriend(friend, $index)">
				Dodaj znajomego
			</button>
			<button ng-if="friend.addFriendSuccess" class="btn btn-md btn-info pull-right">
				Jesteście znajomymi
			</button>
			<button ng-if="friend.addFriendFailure" class="btn btn-md btn-warning pull-right">
				Coś poszło nie tak
			</button>			
			<br>
			<a ui-sref="home.profile.main({profileId: friend.id})">
				{{friend.firstname}} {{friend.lastname}}
			</a>
		</div>
	</div>
</div>
<div id="newGroup" class="modal">
  <span class="close" id="closeGroup">×</span>
    <div class="modal-content well">
	<form name="newGroup">
		<span class="alert alert-danger" ng-if="newGroup.error">{{newGroup.error}}<br></span>
        <h2>Utwórz grupę</h2>
		Nazwa: <input type="text" class="form-control" ng-model="newGroup.name" required/><br>
		Link do tła (opcjonalnie): <input type="text" class="form-control" ng-model="newGroup.image" />
		<img src="{{newGroup.image}}" style="height:200px; width:600px; margin:auto;"><br>
		<button class="btn btn-lg btn-success" ng-click="createGroup()" ng-disabled="newGroup.$invalid">Utwórz</button>
	</form>
    </div>
</div>
<div id="newEvent" class="modal">
  <span class="close" id="closeEvent">×</span>
    <div class="modal-content well">
	<form name="newEvent">
		<span class="alert alert-danger" ng-if="newEvent.error">{{newEvent.error}}<br></span>
        <h2>Utwórz wydarzenie</h2>
		Nazwa: <input type="text" class="form-control" ng-model="newEvent.name" required/><br>
		Miejsce: <input type="text" class="form-control" ng-model="newEvent.place" required/><br>
		Czas rozpoczęcia: <input type="date" class="form-inline" ng-model="newEvent.startDate" required/>
			<input type="time" class="form-inline" ng-model="newEvent.startTime" required /><br>
		Czas zakończenia: <input type="date" class="form-inline" ng-model="newEvent.endDate" required/>
			<input type="time" class="form-inline" ng-model="newEvent.endTime" required /><br>
		Informacje (opcjonalnie): <textarea cols="50" rows="4" class="form-control" ng-model="newEvent.info"/><br>
		Link do tła (opcjonalnie): <input type="text" class="form-control" ng-model="newEvent.image" />
		<img src="{{newEvent.image}}" style="height:200px; width:600px; margin:auto;"><br>
		<button class="btn btn-lg btn-success" ng-click="createEvent()" ng-disabled="newEvent.$invalid">Utwórz</button>
	</form>
    </div>
</div>

