<div class="col-md-3">
	<a ui-sref="home">Wall</a>
	To jest menu nawigacyjne
</div>
<div class="col-md-6">
	<div ng-if="info">{{info}}</div>
	Tu jest informacja o grupie<br>
	Grupa {{groupData.name}}<br>
	
	<div class="well" ng-repeat="post in groupData.posts">
		 Autor: <a ui-sref="home.profile({profileId: post.content.owner_id})">{{post.owner.firstname}} {{post.owner.lastname}}</a>
		 <button type="button" class="btn btn-success pull-right">Data <span class="badge">{{post.content.created_at}}</span></button> 
		 <span ng-if="profileErrors[$index]" class="alert alert-danger">{{profileErrors[$index]}}</span><br>
		{{post.content.content}}
	</div>
	
</div>
<div class="col-md-3">
	Dodaj członków
</div>

